<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO WITH EASE</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <div class="navbar">
        <p style="color: aliceblue;">Travel far enough, you meet yourself</p>
    </div>
    <div class="navbar2">
        <img src="logo.png" alt="Logo" class="logo-img">
        <p class="logo">GO WITH EASE</p>
        <div class="features">
            <p>
                <a href="#about-section" class="about">About</a>
            </p>
            <p>
                <a href="#features-section" class="about">Features</a>
            </p>
            <p>
                <a href="#contact-section" class="about">Contact Us</a>
            </p>
        </div>
    </div>
    <div class="buttons">
        <a href="signup">
            <button class="click">LetsGo</button>
        </a>
        
    </div>

    <div class="background-section">
        <div class="quote-block">
            <br>
            <br>
            <blockquote class="quote">
                We connect you with<br> experience because<br> travelling by train is<br> not a journey it’s an<br> experience
            </blockquote>
        </div>
    </div>
    
     <footer class="example-1">
        <div class="footer-container">
          <div class="footer-col" id="features-section">
            <center><img src="logo.png" alt="logo" height="70" width="50" class="logoji" ></center>
            <br>
            <p>Welcome to Go With Ease, where we're committed to making your student life simpler and more organized than ever before.
            At Go With Ease, we understand the challenges students face when it comes to managing their schedules. That's why our platform empowers students to take control of their commitments effortlessly.
</p>
          </div>
          <div class="footer-col" id="contact-section">
            <h4>Contact options</h4>
            <br>
            <p><a href="mailto::gwe@gmail.com" >Email me</a></p>
            <br>
            <p><a href="https://www.instagram.com/its_rj30/" target="_blank">Instagram</a></p>
            <br>
            <p> <a href="https://www.nitj.ac.in/admin/location.html">Address:<br>Dr B R Ambedkar National Institute of Technology Jalandhar, N.I.T. Post Office, Jalandhar (Punjab) - 144 011 India</a></p>
          </div>
          <div class="footer-col" id="about-section">
            <h4>About</h4>
            <nav>
                <p>we are students  of NITJ and make this project in which we easily gather the tckets information for all students that faces these problems</p>
          <br><p>Students(Team-"TIME CHANGERS"):-</p>
          <br>
          <ul style="color: aquamarine;">
            <li>Ishika</li>
            <li>Divyanshu</li>
            <li>Preet</li>
            <li>Deepanshu</li>
          </ul> 
            </nav>        
          </div>
        </div>
        <div class="bottombar">Copyright © 2023 GO WITH EASE. All rights reserved.</div>
      </footer>
</body>
</html>