<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO WITH EASE</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="icon" href="logo.png" type="image/x-icon">
    
</head>
<body>
    <div class="navbar">
        <p>Travel far enough, you meet yourself</p>
    </div>
    <div class="navbar2">
        <img src="logo.png" alt="Logo" class="logo-img">
        <p class="logo">GO WITH EASE</p>
        <div class="features">
            <p>
                <a href="#about-section" class="about">About</a>
            </p>
            <p>
                <a href="#features-section" class="about">Features</a>
            </p>
            <p>
                <a href="#contact-section" class="about">Contact Us</a>
            </p>
        </div>
    </div>
    <div class="buttons">
        <a href="/signup">
            <button class="click">LetsGo</button>
        </a>
        
    </div>

    <div class="background-section">
        <div class="quote-block">
            <br>
            <br>
            <blockquote class="quote">
                We connect you with<br> experience because<br> travelling by train is<br> not a journey it’s an<br> experience
            </blockquote>
        </div>
    </div>

    <div class="sections-container">
        <div id="about-section" class="about-section">
            <h2><u>About</u></h2>
            <p>Welcome to Go With Ease, where we're committed to making your student life simpler and more organized than ever before.

                At Go With Ease, we understand the challenges students face when it comes to managing their schedules. That's why our platform empowers students to take control of their commitments effortlessly.
                
                With Go With Ease, students can upload their schedules and customize them to fit their unique needs. Whether it's marking down important dates, events, or deadlines, our platform provides the flexibility you need to stay on track.
                
                But that's not all. Our standout feature is our timely reminder system. We analyze your schedule and send notifications for upcoming events and commitments, ensuring you never miss a beat.
                
                Say goodbye to the stress of juggling multiple commitments. With Go With Ease, you can navigate your student life with ease, efficiency, and peace of mind.
                
                Join us at Go With Ease and experience a new way to manage your schedule. Let's make your student life easier together.</p>
        </div>

        <div id="features-section" class="features-section">
            <h2><u>Features</u></h2>
            <p>Introducing our standout feature: Timely Reminder System

                Picture this: It's the holiday season, and you're eagerly looking forward to your well-deserved break. But amidst the excitement, there's one thing looming over your head – the hassle of booking travel tickets. The stress of navigating through crowded websites, trying to secure the best deals, and the constant worry of missing out on reservations can quickly dampen the holiday spirit.
                
                This situation not only causes frustration but also disrupts students' plans, potentially leading to increased stress and anxiety during what should be a time of relaxation and rejuvenation. Moreover, the uncertainty of whether they will secure a confirmed ticket adds an extra layer of concern, exacerbating the already challenging experience of holiday travel. Finding a solution to streamline the reservation process or provide alternative transportation options could significantly alleviate these burdens for college students, ensuring smoother and more enjoyable holiday experiences.
                
                Enter Go With Ease's Timely Reminder System. Our platform takes the stress out of travel planning by analyzing your schedule and sending timely notifications for ticket reservations based on your commitments. No more last-minute scrambles or worrying about missing out on important travel arrangements. With our intuitive reminder system, you can enjoy peace of mind knowing that your travel plans are in good hands.
                
                Say goodbye to the holiday travel headaches and hello to seamless, stress-free planning with Go With Ease. Let us take the hassle out of your travel arrangements so you can focus on creating unforgettable holiday memories.</p>
        </div>

            <p><div id="contact-section" class="contact-section">
                <h2><u>Contact</u></h2>
                <p>Connect with us:</p>
                <div class="contact-icons">
                    <a href="https://www.instagram.com/gwe.nitj/" target="_blank"><img src="instagram.png" alt="Instagram" height="30" width="30"></a>
                    <a href="https://www.instagram.com/gwe.nitj/" target="_blank" class="contact-link">Instagram</a> 
                    <br>
                    <a href="mailto:gwe.nitj@gmail.com"><img src="gmail.png" alt="Email" height="30" width="30"></a>
                    <a href="mailto:gwe.nitj@gmail.com" class="contact-link">E-mail</a>
                </div>
                </p>
        </div>
    </div>

   

    <div class="footer">
        &copy; 2024 Go With Ease - All rights reserved
    </div>
</body>
</html>