<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go to Ease</title>
    <link rel="icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/last.css">
</head>
<body>
    <div class="container">
        <div class="user-icon">
           <a href="user_icon.html"> <img src="userlogo.png" alt="User Icon" height="100" width="80"></a>
        </div>
        <h1>GO WITH EASE</h1>
        <div class="form-group">
        </div>
    <form action="/ticket" method="post">
        <div class="form-group">
            <span class="badge">Gmail</span>
            <br>
            <input type="text" name="gmail">
            <br>
            <span class="badge">classType</span>
            <br>
            <input type="text" name="classType">
            <br>
            <span class="badge">quota</span>
            <br>
            <input type="text" name="quota">
            <br>
            <span class="badge">Boarding Station Code:</span>
            <br> 
            <input type="text" name="boarding_station">
            <br>
            <span class="badge">Destination Station Code:</span>
            <br> 
            <input type="text" name="destination_station">
            <br>
            <span class="badge">Train Number:</span>
            <br> 
            <input type="text" name="train_number">
            <br>
            <span class="badge">Date:</span>
            <br> 
            <input type="date" name="date">
            <br>
            <button type="submit" class="upload-new-btn" value="ADD NEW">Get Details</button>
        </div>
    </form>
    </div>
</body>
</html>